USE [master]
GO
/****** Object:  Database [QLQuyTuThien1]    Script Date: 21-Nov-24 8:38:44 AM ******/
CREATE DATABASE [QLQuyTuThien]
 Go
USE [QLQuyTuThien]
GO
/****** Object:  Table [dbo].[ChuyenTuThien]    Script Date: 21-Nov-24 8:38:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenTuThien](
	[MaChuyenTuThien] [smallint] NOT NULL,
	[TenChuyenTuThien] [nvarchar](50) NULL,
	[DiaDiem] [nvarchar](50) NULL,
	[NgaybatDau] [date] NULL,
	[NgayKetThuc] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManhThuongQuan]    Script Date: 21-Nov-24 8:38:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManhThuongQuan](
	[MaMTQ] [char](4) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Diachi] [nvarchar](150) NULL,
	[SoDienThoai] [char](20) NULL,
	[Email] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuaTang]    Script Date: 21-Nov-24 8:38:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTang](
	[MaQuaTang] [int] NOT NULL,
	[LoaiQuaTang] [nvarchar](50) NULL,
	[Donvitinh] [nvarchar](50) NULL,
	[Soluong] [int] NULL,
	[MaMTQ] [char](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuDungQuaTang]    Script Date: 21-Nov-24 8:38:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuDungQuaTang](
	[MaChuyenTuThien] [smallint] NOT NULL,
	[MaQuaTang] [int] NOT NULL,
	[Soluong] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ChuyenTuThien] ([MaChuyenTuThien], [TenChuyenTuThien], [DiaDiem], [NgaybatDau], [NgayKetThuc]) VALUES (1, N'Thêm niềm vui cho em', N'Làng SOS  Gò Vấp', CAST(N'2022-06-01' AS Date), CAST(N'2022-06-03' AS Date))
INSERT [dbo].[ChuyenTuThien] ([MaChuyenTuThien], [TenChuyenTuThien], [DiaDiem], [NgaybatDau], [NgayKetThuc]) VALUES (2, N'Ủng hộ từ thiện Covid-19 ', N'Chùa Từ Tâm', CAST(N'2021-04-06' AS Date), CAST(N'2021-06-13' AS Date))
INSERT [dbo].[ChuyenTuThien] ([MaChuyenTuThien], [TenChuyenTuThien], [DiaDiem], [NgaybatDau], [NgayKetThuc]) VALUES (3, N'Vì trái tim cho em', N'Bệnh viện Nhi Đồng', CAST(N'2022-02-02' AS Date), CAST(N'2022-02-04' AS Date))
GO
INSERT [dbo].[ManhThuongQuan] ([MaMTQ], [HoTen], [Diachi], [SoDienThoai], [Email]) VALUES (N'M001', N'Nguyễn Thanh Hải', N'Hẻm 373 đường Lý Thường Kiệt', N'0903 802 292        ', NULL)
INSERT [dbo].[ManhThuongQuan] ([MaMTQ], [HoTen], [Diachi], [SoDienThoai], [Email]) VALUES (N'M002', N'Trần Văn Lực', N'49/10 Âu Cơ', N'0938785837          ', NULL)
INSERT [dbo].[ManhThuongQuan] ([MaMTQ], [HoTen], [Diachi], [SoDienThoai], [Email]) VALUES (N'M003', N'Phan Thanh Hưng', N'Trần Mai Ninh', N'0948764239          ', NULL)
GO
INSERT [dbo].[QuaTang] ([MaQuaTang], [LoaiQuaTang], [Donvitinh], [Soluong], [MaMTQ]) VALUES (1, N'Tiền', N'VND', 30000000, N'M001')
INSERT [dbo].[QuaTang] ([MaQuaTang], [LoaiQuaTang], [Donvitinh], [Soluong], [MaMTQ]) VALUES (2, N'Tiền', N'VND', 6000000, N'M002')
INSERT [dbo].[QuaTang] ([MaQuaTang], [LoaiQuaTang], [Donvitinh], [Soluong], [MaMTQ]) VALUES (3, N'Tiền', N'USD', 50000, N'M003')
GO
INSERT [dbo].[SuDungQuaTang] ([MaChuyenTuThien], [MaQuaTang], [Soluong]) VALUES (1, 1, 300000)
INSERT [dbo].[SuDungQuaTang] ([MaChuyenTuThien], [MaQuaTang], [Soluong]) VALUES (1, 2, 400000)
INSERT [dbo].[SuDungQuaTang] ([MaChuyenTuThien], [MaQuaTang], [Soluong]) VALUES (1, 3, 3000)
GO
USE [master]
GO
